@font-face {
    font-family: Aeonik-Regular;
    src: url(fonts/AeonikTRIAL-Regular.otf);
}

@font-face {
    font-family: Canela-Thin;
    src: url(fonts/Canela-Thin.ttf);
}

@font-face {
    font-family: Italiano;
    src: url(fonts/Italianno-Regular.ttf);
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dbd4cc;
}

h1 {
    font-family: Canela-Thin, serif;
    font-size: 10%;
    line-height: 100%;
    white-space: nowrap;
    font-weight: 100;
    text-transform: none;
}

p,
a,
span,
div {
    font-family: Aeonik-Regular, sans-serif;
    font-size: 9px;
    letter-spacing: 1.5px;
    line-height: 160%;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #000000;
}

.main-container {
    margin: 0 15px;
}

header {
    .header-flex-container {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .header-text-container {
            .studio-description {
                display: none;
                width: 60px;

                p {
                    width: 290px;
                }
            }

            div {
                .p-trigger:hover ~ .studio-description {
                    display: block;
                    margin-top: 10px;
                }
            }
        }

        .email-container {
            display: none;
            div {
                display: none;
                margin-left: auto;
            }
        }
    }
}

main {
    margin-top: 15px;

    .title {
        margin: 10px 0;
        text-align: center;
    }

    .logo-container {
        margin: 0 auto;
        max-width: 500px;
        margin-top: 18px;

        .slider {
            width: 100%;
        }
    }

    .text-full-container {
        margin-top: 26px;
        .text-full {
            display: flex;
            justify-content: space-between;
        }
    }

    .branding {
        margin-top: 37px;
        text-align: center;
    }
}

footer {
    .ask-link {
        margin-top: 30px;
        margin-bottom: 86px;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
    }
}

@media (min-width: 992px) {
    p,
    a,
    span {
        line-height: 17px;
    }

    .main-container {
        margin: 0;
        width: 100vw;
        // height: 100vh;
    }

    header {
        height: 10vh;
        min-height: 100px;
        padding: 10px 20px 0 10px;

        .header-flex-container {
            margin-top: 0;

            .header-text-container {
                position: relative;
                div {
                    .p-trigger:hover ~ .studio-description {
                        display: block;
                        position: absolute;
                        width: 290px;
                        margin-top: 10px;
                    }
                }
            }

            .email-container {
                display: block;
                div {
                    display: block;
                }
            }
        }

        .studio-desc-mobile {
            display: none;
        }
    }

    .flex-contnet-container {
        height: 89vh;
        min-height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        margin-top: 70px;

        .logo-container {
            position: relative;
            max-width: 440px;
            margin-top: 18px;

            .slider {
                position: relative;
                width: 100%;
                height: 489px;
                background-image: url('img/slider1.png');
                background-size: contain;
            }
        }

        .title {
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 30%;
            z-index: 10;
            width: 1000px;
            font-size: 102px;
            word-spacing: 50px;
            mix-blend-mode: difference;
            color: black;
            filter: invert(80%);
        }

        .text-full-container {
            margin-top: 20px;
            .text-full {
                display: flex;
                justify-content: space-between;
            }
        }

        .branding {
            margin-top: 22px;
        }
    }

    footer {
        .ask-link {
            margin-top: 48px;
        }
    }
}

@media (min-width: 1200px) {
    main {
        .title {
            width: 1200px;
            font-size: 128px;
        }
    }
}
